.movie-menu {
    margin-top: 20px;
}

.movie-menu h3 {
    margin-bottom: 10px;
}

.movie-menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.movie-menu li {
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.movie-menu li.active {
    background-color: #17324e;
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .movie-menu li {
        margin-right: 0;
        margin-bottom: 10px;
        display: block;
    }
}
